<div class="sub-section text-center">
  <h2>On the Profile Page...</h2>
  <p>Sample text here.</p>

  <h3>Flashcard Stats for Jane Sample<%#= @user.username %></h3>

  <table class="table table-striped table-bordered table-hover text-center sub-section">
    <tr>
      <th>Topic</th>
      <th>Date</th>
      <th>Cards in Deck</th>
      <th>First Guess Correct</th>
      <th>Total Guesses</th>
    </tr>
    <% @rounds.each do |round| %>
    <tr>
      <td><%= round.deck.name %></td>
      <td><%= round.updated_at %></td>
      <td><%= Card.where(deck_id: round.deck_id).count %></td>
      <td><%= round.result %></td>
      <td><%= round.total_result %></td>
       <% end %>
    </tr>
  </table>
</div>
