
<h1><%="#{@user.full_name}'s"%> Quiz Results:</h1>

<ul style="list-style: none">
<%@rounds.each do |round|%>
<h3> <%= round.deck.name %> <h3>
<li> You answered <%= round.first_try_guesses %>/<%= round.deck.cards.length %> correctly on the first try. You submitted <%= round.total_guesses %> total guesses before each card was answered correctly.</li>
<% end %>
</ul>


